<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<script src="js/vue.min.js"></script>
<script src="js/vue-router.js"></script>
<script>
    var MyMain = Vue.component("my-main",{
        data:function(){
            return {uName:0,uPwd:0}
        },
        template:`
            <div>
                <h1>用户名为{{uName}}</h1>
                <h1>用户密码为{{uPwd}}</h1>
            </div>
        `,
        mounted:function(){
            console.log(this.$route.params);
            this.uName = this.$route.params.userName;
            this.uPwd = this.$route.params.userPwd;
        }
    });
    var MyLogin = Vue.component("my-login",{
        data:function(){
            return{user_name:"",user_pwd:""}
        },
        template:`
            <div class="base">
                <h1>登录页</h1>
                用户名 <input type="text" v-model="user_name"/>
                密码 <input type="text" v-model="user_pwd"/>
                <button @click="doLogin">登录到主页面</button>
                <router-link :to="'/my-main/'+user_name+'/'+user_pwd">登录到主页面</router-link>
            </div>
        `,
        methods:{
            doLogin:function(){
                //跳转到主页面，并且将参数传递过去
                this.$router.push("/my-main/"+this.user_name+"/"+this.user_pwd);
            }
        }
    });
    var NotFound = Vue.component("not-found",{
        template:`
            <div class="base">
                <h1>404 Page Not Found</h1>
                <router-link to="/my-login">返回首页</router-link>
            </div>
        `
    });

    const myRoutes = [
        {path:"",component:MyLogin},
        {path:"/my-login",component:MyLogin},
        {path:"/my-main/:userName/:userPwd",component:MyMain},
        {path:"*",component:NotFound},   //没有匹配到上述路由地址跳转到404页面
    ];
    const myRouter = new VueRouter({
        routes:myRoutes
    });
    new Vue({
        router:myRouter,
        el:"#app"
    });
</script>
</body>
</html>